$accentColor = #e61b62
$accentDarkColor = #e61b62

$textColor =#000000
$textDarkColor = #ffffff

$bgDarkColor = #121212

$miniCodeBgDarkColor = #1e1e1e
$codeBgColor = #1e1e1e
$kbdBgDarkColor = #1e1e1e

$badgeWarningColor = #997f00
$badgeWarningDarkColor = #997f00