---
interface Props {
  id?: string;
}

const { id = '5DRYW09ilOo' } = Astro.props;
const url = `https://www.youtube.com/embed/${id}`;
---

<div class="yt-embed">
  <iframe
    width="720"
    height="405"
    src={url}
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<style>
.yt-embed {
  width: 100%;
}

.yt-embed iframe {
  width: 100%;
  max-width: 720px;
  height: auto;
  aspect-ratio: 16 / 9;
}
</style>
